#seventy{
    background-color: yellow;
}
h3{
    text-decoration: underline;
}
img{
    height: 700px;
    width: 1400px;
}
#liontbl{
    text-align: center;
    border-style: solid;
    border-color: red;
    color: red;
    padding: 0,5,0,15;
    text-decoration: none;
}
th{
    border-style: solid;
    border-color: black;
}
td{
    border-style: solid;
    border-color: black;
    margin: 2px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}