
/* Body and Background Image */
body{
    width: 55%;
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.rHLlY83Z7i84Gdz4V8giaAHaE3&pid=Api&P=0&h=180");
    /* background-repeat: no-repeat; */
    background-size: 600px, 150px;
}
/* Navbar */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: greenyellow;
    text-align: center;
    font-size: 20px;
    position: relative;
    bottom: 10px;
    left: -10px;
    width: 1250px;
    
}
nav li{
    display: inline;
    padding: 5px;
    text-align: center;
    margin: 10px;
    position: relative;
    left: -50px;
    
}
nav a{
    text-decoration: none;
    color: white;

}
nav a:hover {
    padding: 5px;
    background-color: yellow;
    color: green;
    font-weight: 10px;
  }
nav a:visited{
    color: green;

}
nav{
    position: fixed;
    top: 10px;
    z-index: 100;
}
/* Top of page */

.home{
    position: relative;
    left: 240px;
    text-align: center;
}
.homeLink{
    width: 380x;
    height: 400px;
}
/* Headers for Sections */
h1{
    font-size: 100px;
    text-decoration: underline;
    text-decoration-color: yellowgreen;
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    /* right: 50px; */
}
/* Skills Section */

#skillz{
    position: relative; 
     left: 560px;
   
   
}
#sklist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -300px;
}
#skillhead{
    position: relative;
    right: 50px;
}
#sklist li{
   margin-bottom: 15px;
    background-color: greenyellow;
    width:fit-content;
    height:fit-content;
    padding: 15px;
    text-decoration: none;
    vertical-align: middle;
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    border-radius: 5px;
    text-align: center;
    list-style: none;
    color: green;
    font-style: oblique;
    
}
/* Images in the skills page */
p + img{
 width: 400px;
 height: 400px;
 margin-bottom: 30px;
 border-style: groove;
 border-color: green;
 
}
/* Specific code for the smaller "cute" photo */
#cute{
    margin-left: 90px;
}
/* CSS for paragraph sections */
p{
    font-size: 20px;
    background-color: blue;
    color: gold;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-width: 2px;
    border-color: gold;
    border-radius:5px ;
    border-style: double;
    padding: 3px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
/* CSS for Contact section */
#contact{
    text-align: center;
    position: relative;
    left: 280px;
}
#contact img{
    width: 100px;
    height: 100px;
    margin-right: 50px;
    position: relative;
    left: 50px;
    /* mix-blend-mode: multiply; */
}
/* Code for a specific header, I know its ugly lol */
h3{
    background-color: greenyellow;
    width:fit-content;
    height:fit-content;
    padding: 15px;
    text-decoration: none;
    vertical-align: middle;
    position: relative; 
     left: 165px; 
    font-size: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    border-radius: 5px;
    text-align: center;
}
/* CSS Footer of contact page */
#footer{
    background-color: gold;
    padding: 5px;
    width: 1280px;
    /* width: 200%; */
    position: relative;
    right: 320px;
    top: 50px;
   
}
/* CSS for Links lives */
#bio{
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 260px;
    text-align: center;
    align-items: center;
}
#biohead{
    /* display: flex; */
    justify-content: center;
}
#bio li{
    list-style: none;
    text-align: center;
    justify-content: center;
    background-color: green;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    align-items: center;

}
#bio li p{
    align-items: center;
    text-align: justify;
    vertical-align: middle;
}
#bio li img{
    width: 200px;
    height: 200px;
    
}
/* CSS for bio headers (All h2) */
h2{
    background-color: greenyellow;
    color: green;
    width:fit-content;
    height:fit-content;
    padding: 15px;
    text-decoration: none;
    vertical-align: middle;
    position: relative; 
     left: 180px; 
    font-size: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    border-radius: 5px;
    text-align: center;
}
#biostart{
    background-color: green;
    padding: 5px;
    width: 93%;
    position: relative;
    left: 40px;
    border-radius: 10px;
}
/* Code for Contact Form */
#conform ul{
    list-style: none;
}
#conform{
    background-color: green;
    width: 700px;
    position: relative;
    left: 30px;
    border-radius: 10px;
    border-color: gold;
    border-style: solid;
}
label{
    color: yellowgreen;
    font-weight: 10px;
    font-size: 25px;
}
input{
    background-color: yellowgreen;
    color: blue;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}
textarea{
    background-color: yellowgreen;
    color: blue;
    margin-right: -20px;
    width: 80%;
    font-size: 18px;
    max-height: 90%;
    max-width: 90%;
    min-width: 80%;
    min-height: 40px;
}
#conform ul li{
    margin: 5px;
}
/* Code for Navi Image and Label */
#navid{
margin-right: 50px;
position: relative;
bottom: 80px;
margin-bottom: 50px;
}
#navi img{
    height: 200px;
    width: 200px;
}
#navimsg{
    margin-bottom: 10px;
}
/* Code for contact introduction p */
#conp{
position: relative;
left: 35px;
}

