#leftside{
    /* width: 30%; */
    min-height: 100vh;
    background-color: lightblue;
    text-align: center;
    grid-area: left;
    padding: 10px;

}
p{
    margin-bottom: 50px;
}
#hdsht{
    height: 25%;
    width: 75%;
    border-radius: 80px;
}
 #icons{
    margin-top: 40px;
    display: flex;
   flex-direction: column;
   /* grid-area: left; */
   
}
#icons a{
    margin: 10px;
}
a img{
    height: 45px;
    width: 45px;
} 
#main{
    /* position: absolute; */
    /* top: 0; */
    /* left: 400px; */
    /* width: 70%; */
    grid-area: main;
    background-color: lightgreen;
    padding: 10px;
}
#Edu ul{
    margin-left: 30px;
}
#Edu ul:last-of-type{
    margin-bottom: 50px;
}

#skills ul{
    max-height: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 75px;
}

#main h2{
    color: orange;
}
.grid{
    display: grid;
    grid-template-columns: 1fr, 2fr;
    grid-template-areas: 
        "left main main"
    ;
    grid-gap: 10px;

}

    